<!DOCTYPE HTML>
<html>
  <head>
    <title>First Flask Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
    
  </head>
  <body>
    <div class="container">
     <h2 class="text-center"> <b style="color: blue; font-family:roboto;">C</b>AREER <b style="color:blue;">G</b>ROWER</h2>
    </div>
    <div class="slider">
      <img src="https://th.bing.com/th/id/OIP.JCQz_4B4rkjYVIgEeeWH3gHaCi?w=307&h=119&c=7&r=0&o=5&pid=1.7" height='300px' width='100%' alt='slider bar'/>
    </div>
        <div class="about">
      <h2 class="text-center">ABOUT US</h2>
      <p id="abt">This Websites contains the more information about all career option and also tells about the correct path to the Job Seekers . Once you joined here then get a lot of information related to your career.</p>
    </div>
    <div class="upcoming ">
      <h2 class="text-center">OPEN POSITIONS</h2>
      <p>
      {% for job in jobs%}
        {% include 'jobitem.html' %}
        {% endfor %}
      </p>
    </div>
    <div class="contact">
      <span> For any query You can<button class="btn btn-primary btn-sm">Contact Us </button></span>
      <P class="text-center mt-4">Copyright 2023,Rahul</P>
    </div>
    
  </body>
</html>